#loginContainer {
    display: flex;
    flex-direction: column;

    width: 72%;

}

#formBox {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.loginText {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    min-block-size: 24px;
    letter-spacing: 0em;
    text-align: left;

    padding-top: 1.5ex;
    margin-bottom: 0ex;
}

#errorAuth {
    color: #CD3232;
    padding: 0;
    margin: 0;
}


#loginBox {
    background-color: #F9F1F1;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;

    height: 100%;

    margin-top: 1.7ex;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 6ex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#userName,
#password {
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;

    margin-top: 7px;

    height: 55px;

    background-color: #D9D9D9;
    border-radius: 0;
}

#submitButton,
#cancelButton {
    border-radius: 0;
    border-width: 0;
    width: 13em;
    padding: 0.5em;
    font-weight: bold;
    height: 4.5ex;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

    margin-top: 1.5ex;
    margin-bottom: 2ex;
}

#submitButton {
    background-color: #8FA98F;
    color: black;
}

#cancelButton {
    background-color: #E65D5D;
    color: black;
}


#loginButtonsText {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 2.5ex;
}

#loginButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
    padding: 0;
    margin: 0;
}


#password {
    margin-bottom: 1.5ex;
}